name: Alerta Crypto SQL
on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:
permissions:
  contents: write
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: node creator.js
      - run: node monitor.js
      - run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add crypto_history.db package.json package-lock.json
          git commit -m "Update DB [skip ci]" || echo "No changes"
          git push
